<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
        <ul class="nav-list">
            <li><a href="index.html">About me</a></li>
            <li><a href="cv.html">CV</a></li>
            <li><a href="timetable.html">My timetable</a></li>
            <li><a href="picture.html">Interactive picture</a></li>
        </ul>
    </nav>

<main>
    <div class="content">
        <h1>About me</h1>
        <img src="maurice.jpg" alt="Moja fotografia" class="profile-image" height="150" width="180">
        <p>
            <strong>Volám sa Matúš a pochádzam z Bratislavy, pulzujúceho srdca Slovenska. Môj čas trávim najmä realizovaním mojich náhodných softwarových nápadov, ktoré sa pohybujú od jednoduchých skriptov až po komplexné aplikácie.</strong>
        </p>
        <p>
            <strong>V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ... V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ...
            V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ...
            V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ...
            V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ...
            V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ...
            V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ... V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ...
            V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ...
            V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ...
            V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ...
            V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ...
            V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ... V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ...
            V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ...
            V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ...
            V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ...
            V súčasnosti študujem na FEI STU v Bratislave a tento semester mám tieto predmety ...</strong>
        </p>
        <h2>Amazing section</h2>
        <ul>
            <li><strong>Crazy list item</strong></li>
            <li><strong>Another list item</strong></li>
            <li><strong>And so on...</strong></li>
        </ul>
    </div>
    <aside>
        <blockquote>
            <p><strong>"The reward for ambition too great...is self-destruction"</strong></p>
            <footer>— <cite>Guts</cite></footer>
        </blockquote>
    </aside>
</main>

</body>
</html>
