<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interaktívny obrázok</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
        <ul class="nav-list">
            <li><a href="index.html">About me</a></li>
            <li><a href="cv.html">CV</a></li>
            <li><a href="timetable.html">My timetable</a></li>
            <li><a href="picture.html">Interactive picture</a></li>
        </ul>
    </nav>

    <main>
        <h1>Interactive picture</h1>
        <div class="interactive-image-container">
            <img src="posse.png" alt="Skupina ľudí" class="interactive-image">
            <div class="interactive-area" style="left: 46%; top: 85%;">
                <span class="dot"></span>
                <span class="info">
                    <strong>Koncert</strong><br>
                    <a href="https://www.eventlook.cz/udalosti/neser-posse-monopoly-tour-fuxtqr/">Viac informácií</a>
                </span>
            </div>
            <div class="interactive-area" style="left: 10%; top: 50%;">
                <span class="dot"></span>
                <span class="info">
                    <strong>Stverec</strong><br>
                    <a href="https://www.youtube.com/watch?v=O7-SPfvIxT8"><strong>Nemusím jeho songy, ale tak pohoďák asi</strong><br></a>
                </span>
            </div>
            <div class="interactive-area" style="left: 23%; top: 50%;">
                <span class="dot"></span>
                <span class="info">
                    <strong>Mladej Fritzl</strong><br>
                    <a href="https://www.youtube.com/watch?v=s3AHNCtG1Lk">Nový studio</a>
                </span>
            </div>
            <div class="interactive-area" style="left: 34%; top: 50%;">
                <span class="dot"></span>
                <span class="info">
                    <strong>NAUME</strong><br>
                    <a href="https://www.youtube.com/watch?v=pGRyIh0Gr2M">Pusti to</a>
                </span>
            </div>
            <div class="interactive-area" style="left: 48%; top: 50%;">
                <span class="dot"></span>
                <span class="info">
                    <strong>Churaq Sputnik</strong><br>
                    <a href="https://www.youtube.com/watch?v=29gUJteulwQ">Zaujimavý link bez vírusu</a>
                </span>
            </div>
            <div class="interactive-area" style="left: 58%; top: 50%;">
                <span class="dot"></span>
                <span class="info">
                    <strong>Hoftyk</strong><br>
                    <a href="https://www.youtube.com/watch?v=VistAatVABs">Slušný občan</a>
                </span>
            </div>
            <div class="interactive-area" style="left: 73%; top: 50%;">
                <span class="dot"></span>
                <span class="info">
                    <strong>OG Pav</strong><br>
                    <strong>Pusti si to a dojdi na koncert</strong><br>
                    <a href="https://www.youtube.com/watch?v=BavPbFDu3P4">Goons & Goods</a>
                </span>
            </div>
            <div class="interactive-area" style="left: 68%; top: 20%;">
                <span class="dot"></span>
                <span class="info">
                    <strong>Rock keťák</strong><br>
                    <strong>Jackass 2.0</strong><br>
                    <a href="https://www.youtube.com/watch?v=hLlDwPkSajo">Stráže</a>
                </span>
            </div>
            <div class="interactive-area" style="left: 85%; top: 50%;">
                <span class="dot"></span>
                <span class="info">
                    <strong>Manazeris</strong><br>
                </span>
            </div>
        </div>
        <p><strong>Zdroj obrázka:</strong> <a href="https://www.eventlook.cz/udalosti/neser-posse-monopoly-tour-fuxtqr/">Eventlook.cz</a></p>
    </main>
</body>
</html>