<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Môj rozvrh</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <nav>
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <label for="nav-toggle" class="nav-toggle-label">
            <span></span>
        </label>
        <ul class="nav-list">
            <li><a href="index.html">About me</a></li>
            <li><a href="cv.html">CV</a></li>
            <li><a href="timetable.html">My timetable</a></li>
            <li><a href="picture.html">Interactive picture</a></li>
        </ul>
    </nav>

<main>
    <div class="content timetable-content">
        <h1>My timetable</h1>
        <div class="timetable-container">
            <table class="timetable">
                <thead>
                    <tr>
                        <th>Deň</th>
                        <th>7.00</th>
                        <th>8.00</th>
                        <th>9.00</th>
                        <th>10.00</th>
                        <th>11.00</th>
                        <th>12.00</th>
                        <th>13.00</th>
                        <th>14.00</th>
                        <th>15.00</th>
                        <th>16.00</th>
                        <th>17.00</th>
                        <th>18.00</th>
                        <th>19.00</th>
                        <th>20.00</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Po</td>
                        <td colspan="2" class="lecture">cd300<br>AZA<br>M. Vojvoda</td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="2" class="lecture">cd300<br>SWI<br>M. Šrámka</td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                    </tr>
                    <tr>
                        <td>Ut</td>
                        <td colspan="2" class="lecture">de300<br>AZA<br>M. Vojvoda</td>
                        <td colspan="2" class="lecture">cd300<br>WEBTE1<br>K. Žáková</td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="3" class="exercise">c117a<br>OS<br>M. Jókay</td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                    </tr>
                    <tr>
                        <td>St</td>
                        <td colspan="2" class="lecture">bc300<br>OS<br>M. Jókay</td>
                        <td class="lecture">bc300<br>SWI<br>Šrámka</td>
                        <td colspan="1"></td>
                        <td class="exercise">c117a<br>SWI<br>O. Gallo</td>
                        <td colspan="2" class="lecture">cd300<br>WEBTE1<br>K. Žáková</td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                    </tr>
                    <tr>
                        <td>Št</td>
                        <td class="exercise">bc300<br>AZA<br>M. Bečka</td>
                        <td colspan="2" class="exercise">cpu-a<br>WEBTE1<br>K. Žáková</td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="2" class="exercise"><br>TSV<br>K. Hižnayová</td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                    </tr>
                    <tr>
                        <td>Pia</td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                        <td colspan="1"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>

</body>
</html>